<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGE-1</title>
    <link rel="stylesheet" href="static\css\home.css">
</head>
<body>

    <a href="/page1"> User Signup</a>
    <a href="/page2"> Theater Signup</a>
    <a href="/page3"> PAGE-3</a>




    <h1>HEllO ALL</h1>
    <p>At W3Schools you will find complete references about HTML elements, attributes, events, color names, entities, character-sets, URL encoding, language codes, HTTP messages, browser support, and more: </p>

    <form>
       <input type="text" placeholder="Enter text"> 
       <input type="email" placeholder="Email">
       <input type="password" placeholder="password">
       <input type="submit">
    </form>
</body>
</html>