<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/"> Home</a>

    <h1>Theater Signup</h1>


    <form accept="/page2" , method="post">
        <input type="text" placeholder="Enter Theater Owner Name" name="Username">
        <input type="email" placeholder="Email" name="email">
        <input type="password" placeholder="password" name="password">
        <br>
        <br>
        <input type="text" placeholder="Enter Theather name" name="theater name">
        <input type="text" placeholder="Enter theater location" name="location">
        <input type="submit">
    </form>
</body>
</html>