<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGE-1</title>
    <link rel="stylesheet" href="static\css\home.css">
</head>
<body>

    <a href="/user_signup"> User Signup</a>
    <a href="/theater_signup"> Theater Signup</a>
    <a href="/page3"> PAGE-3</a>




    <h1>Login...</h1>
    <form accept="/" , method="post">
        <input type="email" placeholder="Email" name="email" required>
        <input type="password" placeholder="password" name="password" required>
        <input type="submit">
    </form>

    
</body>
</html>