<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello Customer</h1>

    <form action="/search" method="post">
        <select name="filter">
            <option value="Title">Title</option>
            <option value="Genre">Genre</option>
            <option value="Price">Price</option>
        </select>
        <input type="text" name='query' placeholder="Search movies...." required>
        <input type="submit" value="Search">
    </form>


    
</body>
</html>